
.data-container 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin-top: 50px;
}

.data-container .card 
{
    background:#413f44;
    padding:15px;
    border-radius: 10px;
    width:200px;
    height: 100px;
    position: relative;
    margin:20px;
}

.card h3 
{
    color:#fff;
}

.card p 
{
    color:#c0c1c5;
    font-size: 12px;
}

.card p:nth-child(3)
{
    color:#8ad192;
    font-family: cursive;
}

.card button 
{
    position:absolute;
    left:-10px;
    bottom: -10px;
    width: 30px;
    height: 30px;
    padding-left: 1px;
    padding-bottom: 3px;
    font-size: 20px;
    border-radius: 50%;
    border:none;
    outline: none;
    background:#afbff4;
    transform: rotate(45deg);
}